$background-error-alert-color:#f2dede;
$border-error-alert-color:#eed3d7;
$error-alert-color: #b94a48;
$background-success-notice-color: #dff0d8;
$border-success-notice-color:#d6e9c6;
$success-notice-color: #468847;