@import "bootstrap";
@import "colors";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

#logo {
  float: left;
  margin-right: 10px;
  margin-left: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
}
body {
  position: relative;
  padding-bottom: 228px;
  min-height: 100vh;
}

footer {
  position:absolute;
  bottom: 0;
  width: 100%;
}

.navbar ul li a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 4px 15px;
  text-decoration: none;
  &:hover {
    color: rgb(107, 107, 107);
    text-decoration: none;
  }
}

.container p {
  font-weight: 400;
  font-size: medium;
  text-align: justify;
  }
  a {
    color: rgb(14, 14, 14);
    text-decoration: none;
    &:hover {
      color: orange;
  }
}

.more {
  color: rgb(52, 119, 219);
  text-align: right;
  font-weight: 500;
  font-size: 20px;
}

.form {
  width: 700px
}

.card-body {
  float: left;
}
.favourite {
  float: right;
  .btn {
    margin-top: 50%;
    margin-bottom: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.apply-job .btn {
  align-items: center;
  justify-content: center;
}

// ribbon

.ribbon {
  width: 100%;
}

.progressbar {
  counter-reset: step;
}

.progressbar li {
  list-style-type:none;
  float: left;
  width: 33.33%;
  position: relative;
  text-align: center;
}

.progressbar li:before {
  content : counter(step);
  counter-increment: step;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 2px solid #ddd;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: #fff;
}

.progressbar li:after {
  content : '';
  position:absolute;
  width: 100%;
  height: 3px;
  line-height: 40px;
  background-color: #ddd;
  top: 15px;
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active {
  color: blue;
}

.progressbar li.active:before {
  border-color: blue;
}

.progressbar li.active + li:after {
  background-color: blue;
}

// form

.btn-space {
  margin-right: 10px;
}

.form-apply label {
  margin: 8px 0;
  font-size: 18px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
    color: $danger;
  }
}

.alert-error, .alert-alert {
  background-color: $background-error-alert-color;
  border-color: $border-error-alert-color;
  color: $error-alert-color;
  text-align: left;
}

.alert-success, .alert-notice {
  background-color: $background-success-notice-color;
  border-color: $border-success-notice-color;
  color: $success-notice-color;
  text-align: left;
}