@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
/* header */
#logo {
  float: left;
  margin-right: 10px;
  margin-left: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar ul li a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 4px 15px;
  text-decoration: none;
  &:hover {
    color: rgb(107, 107, 107);
    text-decoration: none;
  }
}

.container p {
  font-weight: 400;
  font-size: medium;
  }
  a {
    color: rgb(14, 14, 14);
    text-decoration: none;
    &:hover {
      color: orange;
  }
}

.more {
  color: rgb(52, 119, 219);
  text-align: right;
  font-weight: 500;
  font-size: 20px;
}

.form {
  width: 700px
}

.card-body {
  float: left;
}
.favourite {
  float: right;
  .btn {
    margin-top: 50%;
    margin-bottom: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

